
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>id</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
<body>

<h3>Home Handle Bars</h3>

<h2> HOLA {{first_name}}</h2>, confirma que tu email es{{email}}


{{#each products}}
<tr>
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
</tr>
{{/each}}

<button onclick="location.href='/api/users/logout'">LOGOUT</button>
    
</body>
</table>
</html>




